{% extends "base.html" %}
{% block content %}
    <h1>Home Strength Solutions Inc.</h1>
    <!-- <h1 class="cover-heading">{{ title }}</h1> -->
    <p class="lead">Selling your home made easy.</p>
    <p class="lead">
        <a href="{% url 'contact:contact' %}" class="btn btn-lg btn-secondary">Get Started &raquo;</a>
        <!-- <input class='btn btn-primary' type="button" value="Get Started &raquo;" /> -->
        <!-- <form method="POST" action="."> 
            {% csrf_token %}
            {{ form.as_p }}
            <input class='btn btn-primary' type="submit" value="Shorten &raquo;" />
        </form> -->
    </p>

{% endblock %}


